/* reset and base */
*::after, *::before{
    box-sizing: border-box;
}

html,
body {
    background-color: #BCE4BB;
    color: #02320D;
    font-family: 'Source Sans Pro', sans-serif; 
}

/* header */

.largeTitle{
    font-family: 'Playfair Display', serif, bold;
    font-size: 10vw;
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 2vh;
}

/* Timer section */
/* Timer display */

#timer {
    font-size: 20vw;
    /* height: 10vh; */
}

#timerContainer{
    background-color: #E6F4E6;
    text-align: center;
    margin-right: 5vw;
    margin-left: 5vw;

}

#timeDesc{
    /* padding-bottom: .5em; */
    padding-top: .5em;
    /* height: 2.5vh; */
    font-size: 5vw;
}

/* Main buttons */

button{
    border: none;
    font-family: 'Source Sans Pro', sans-serif, bold; 
    cursor: pointer;
    text-align: center;
}

#buttonContainer{
    display: grid;
    grid-template-rows: repeat(3,auto);
    grid-template-columns: auto 55vw auto;
    grid-template-areas:
    ". start ."
    ". button1 ."
    ". button2 .";
    margin-bottom: 2.5vh;
}

.selectionBtn{
    background-color: var(--accent);
    color: white;
    /* border-radius: 15px; */
    font-size: 4.5vw;
    /* width: 12vw; */
    margin: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: .5vw;
    padding-right: .5vw;
}

#submitTime {
    grid-area: start;
}

#pauseBtn {
    grid-area: button1;
}

#addFive {
    grid-area: button2;
}

#controlBtn{
    font-size: 3.25vw;
    background-color: #E6F4E6;
    color: var(--accent);
    padding:0;
    margin-bottom: 1vh;
}





