html,
body {
    margin: 0;
    padding: 0;
    background-color: #EFF6EF;
}

.hide {
    display: none;
}

:root {
    --width: 5vw;
    --x-speed: 13s;
    --y-speed: 7s;
    --transition-speed: 2.2s;
  }

#bodyContainer {
    display: grid;
    grid-template-rows: 1fr 4fr 10fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "header" 
    "about" 
    "main" 
    "footer";
}

header {
    grid-area: header;

}

#aboutSection {
    grid-area: about;
    padding: 2em;
    display: grid;
    grid-row-gap: 1em;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "intro intro"
    "section1 section2";
}

#introduction{
    grid-area: intro;
}

#section1 {
    grid-area: section1;
}

#section2 {
    grid-area: section2;
}

#tomatoSection {
    grid-area: main;
    padding: 2em;
    display: grid;
    grid-row-gap: 1em;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2.5fr 12.5fr;
    grid-template-areas: 
    "timeBreakdown"
    "timer"
    "tomatoArea";
}

#timeBreakdown{
    grid-area: timeBreakdown;
}

#timerContainer{
    grid-area: timer;
}

#tomatoContainer {
    grid-area: tomatoArea;
    border: 5px solid red;
    height: 500px;
    width: 100%;
}

.tomatoSVG { 
        width: var(--width);
        height: var(--width);
}

.x {
    animation: x var(--x-speed) linear infinite alternate;
}

.y {
    animation: y var(--y-speed) linear infinite alternate;
  }

  @keyframes x {
    100% {
      transform: translateX(calc(500px - var(--width)));
    }
  }
  @keyframes y {
    100% {
      transform: translateY(calc(500px - var(--width)));
    }
  }



footer {
    grid-area: footer;
}