html,
body {
    margin: 0;
    padding: 0;
    background-color: #EFF6EF;
}

.hide {
    display: none;
}

:root {
    --width: 5vw;
    --x-speed: 13s;
    --y-speed: 7s;
    --transition-speed: 2.2s;
  }

#bodyContainer {
    display: grid;
    grid-template-rows: .5fr 3fr 10fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "header" 
    "about" 
    "main" 
    "footer";
}

header {
    grid-area: header;
    text-align: center;
    /* margin: 0 auto; */
    /* display: block; */
    padding-top: 5%;
    padding-bottom: 5%;

}

#aboutSection {
    grid-area: about;
    padding: 2em;
    display: grid;
    grid-row-gap: 1em;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-columns: 1fr; */
    grid-template-areas: 
    /* "intro intro" */
    "section1 section2";
}

#introduction{
    grid-area: intro;
}

#section1 {
    grid-area: section1;
    display: grid;
    grid-row-gap: .5em;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1.5fr;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    ". title title ."
    ". desc1 entry1 ."
    ". desc2 entry2 ."
    ". desc3 entry3 ."
    ". . . ."
    ". start start ."

}

#title {
    grid-area: title;
    text-align: center;
}

#pomLabel {
    grid-area: desc1;
}

#sbLabel {
    grid-area: desc2;
}

#lbLabel {
    grid-area: desc3;
}

#pomSet {
    grid-area: entry1;
}

#sbSet {
    grid-area: entry2;

}

#lbSet {
    grid-area: entry3;
}

#sumbitTime {
    grid-area: start;
}



#section2 {
    grid-area: section2;

    display: grid;
    grid-row-gap: .5em;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    ". intro intro ."
    ". instructions instructions ."
    ;

}

#intro {
    text-align: center;
    grid-area: intro;
}

#instructions {
    grid-area: instructions;
}

#tomatoSection {
    grid-area: main;
    padding: 2em;
    display: grid;
    grid-row-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2.5fr 12.5fr;
    grid-template-areas: 
    ". timeBreakdown ."
    ". timer ."
    ". tomatoArea .";
}

#timeBreakdown{
    grid-area: timeBreakdown;
    text-align: center;
}

#timerContainer{
    grid-area: timer;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.5fr 1fr;
    grid-template-rows: 3fr 1fr;
    grid-row-gap: 1em;
    column-gap: 1em;
    grid-template-areas: 
    ". timerDisplay timerDisplay ."
    ". button1 button2 .";
}

#timer {
    grid-area: timerDisplay;
    text-align: center;
}

#pauseBtn {
    grid-area: button1;
}

#addFive {
    grid-area: button2;
}

#tomatoContainer {
    grid-area: tomatoArea;
    border: 5px solid red;
    height: 500px;
    width: 700px;
    text-align: center;
    padding: 0;
    display: flex;
    align-items: center;
}

#tomatoSVG { 
        width: var(--width);
        height: var(--width);
        /* position: absolute; */
        /* display: block; */
        /* margin:auto; */
        margin: 0 auto;
        display: block;
}

.bounce {
    animation: bounceAround 10s 0.3s linear infinite;
}


.scaleDown {
    animation: scaleDown 10s;
}

@keyframes bounceAround {
    0%
    {transform: translate3d(0, 0, 0); }
    12.5%
    {transform: translate3d(66px, 207px, 0); }
    25%
    {transform: translate3d(308px, 0, 0); }
    37.5%
    {transform: translate3d(66px, -207px, 0); }
    50%
    {transform: translate3d(0, 0, 0); }
    62.5%
    {transform: translate3d(-66px, 207px, 0); }
    75%
    {transform: translate3d(-308px, 0, 0); }
    87.5%
    {transform: translate3d(-66px, -207px, 0); }
    100%
    {transform: translate3d(0, 0, 0); }
   }

/* .x { */
    /* animation: x var(--x-speed) linear infinite alternate; */
    /* animation-iteration-count: infinite; */
/* } */

/* .y { */
    /* animation: y var(--y-speed) linear infinite alternate; */
    /* animation-iteration-count: infinite; */
  /* } */

  /* @keyframes x { */
    /* 100% { */
      /* transform: translateX(calc(700px  - var(--width))); */
    /* } */
  /* } */
  /* @keyframes y { */
    /* 100% { */
      /* transform: translateY(calc(500px - var(--width))); */
    /* } */
  /* } */

/* .fadeOut { */
    /* animation-duration: 4s; */
/* } */

/* .fadeIn { */
    /* animation-duration: 4s; */
/* } */

/* @keyframes fadeOut { */
    /* 0% {opacity: 1;} */
    /* 100% {opacity: 0;}  */
    
 /* }  */

 /* @keyframes fadeIn { */
    /* 0% {opacity: 0;} */
    /* 100% {opacity: 1;}  */
 /* }  */

/* .home { */
    /* text-align: center; */
/* } */

@keyframes scaleDown {
    100% {transform: scale(.125);}
}




footer {
    grid-area: footer;
}